<!DOCTYPE html>
<html lang="ko">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/header.css">
  <style>
    .wrap {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 9999;
      background-color: #F5F5F5;
    }
  </style>
</head>
<body>
<header>
  <div class="wrap">
    <div class="inner">
      <div class="header-d-flex" style="display: flex; justify-content: space-between; align-items: center">
        <div>&nbsp;</div>
        <h1 style="margin-left: 150px; margin-top: 10px;"><%= title %></h1>
          <div style="margin-right: 10px;">
            <% if (user) { %>
              <span><%= user.username %> 님</span>
            <% } else { %>
            <% } %>
            <a class="btn" href="/auth/logout" style="font-weight: bold;">로그아웃</a>
          </div>
      </div>
    </div>
  </div>
</header>
</body>
</html>
