<!DOCTYPE html>
<html lang="ko">
<head>
  <title>로그인</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
  .wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: red;
  }
</style>
<body>
<header>
  <div class="wrap">
    <div class="inner">
      <div class="header-d-flex" style="display: flex; justify-content: space-between; align-items: center">
        <div>&nbsp;</div>
        <h1 style="margin-left: 100px; margin-top: 10px;">Task</h1>
          <div>
            <a class="">현재 접속중인 회원명</a>
            <a class="" href="#">로그아웃</a>
          </div>
      </div>
    </div>
  </div>
</header>
<script>

</script>
</body>
</html>
