<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/font.css">
</head>
<body>

<% include header.ejs %>

<!-- Page content -->
<!--<div class="container" style="padding-left: 180px;">
    <h1>Welcome to my website!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis libero a quam faucibus accumsan. Sed eget lorem ut enim pharetra faucibus. Sed vel neque ut orci volutpat tincidunt in vel nulla. Fusce ac felis et est convallis interdum. Vestibulum feugiat quam vitae volutpat lacinia. Donec vitae dui non nibh malesuada vestibulum. Nulla rhoncus tincidunt sem, ac luctus purus finibus ut. Sed quis mollis eros. Donec quis leo a odio bibendum vehicula at nec tellus. Nunc id lectus vel nisi malesuada efficitur a vitae sapien. Etiam eget metus elit. Nam vel magna quam.</p>
</div>-->

<button class="btn btn-primary float-end mt-3 me-3 btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">ADD</button>
<div class="content container-fluid bg-white" style="padding-left: 250px;">
    <div class="row mt-5">
        <div class="col-md-4 mt-5">
            <div class="card mb-3" style="height: 150px;">
                <div class="card-body">
                    <h3 class="card-title">작업 1</h3>
                    <p class="card-text">target1 - source1</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <span>실행 중</span>
                    <div>
                        <button class="btn btn-sm btn-primary me-2">수정</button>
                        <button class="btn btn-sm btn-danger me-2">삭제</button>
                        <button class="btn btn-sm btn-success">실행</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-5">
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">Card 2</h3>
                    <p class="card-text">Content of Card 2 goes here.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">Card 3</h3>
                    <p class="card-text">Content of Card 3 goes here.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">Card 4</h3>
                    <p class="card-text">Content of Card 4 goes here.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">Card 5</h3>
                    <p class="card-text">Content of Card 5 goes here.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5">
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">Card 6</h3>
                    <p class="card-text">Content of Card 6 goes here.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="padding-top: 100px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


<% include sidebar.ejs %>

<!-- Bootstrap core JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
