<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bootstrap Sidebar Example</title>
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="/stylesheets/sidebar.css">
</head>
<body>
  <div class="sidebar">
    <ul class="sidebar-menu">
      <li class="dropdown">
        <a href="/agent">Agent</a>
        <ul class="dropdown-menu">
          <li><a href="/agent/stop">중지</a></li>
          <li><a href="/agent/loading">실행 중</a></li>
          <li><a href="/agent/error">에러</a></li>
        </ul>
      </li>
    </ul>
  </div>
</body>
<script>
  window.onload = function() {
    const currentUrl = window.location.pathname;
    const sidebarLinks = document.querySelectorAll('.sidebar-menu li a');

    sidebarLinks.forEach(function(link) {
      const href = link.getAttribute('href');

      if (currentUrl === href) {
        link.parentNode.classList.add('active');
      }
    });
  };
</script>
</html>
