body {
    padding-top: 56px;
}
@media (min-width: 768px) {
    body {
        padding-top: 64px;
    }
}
/* Sidebar */
.sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Enable scrolling */
    overflow-y: auto;
    /* Sidebar width */
    width: 250px;
    /* Background gradient */
    background: linear-gradient(to bottom, #6D7EAA, #4B5A8C);
    padding: 20px;
}
/* Sidebar header */
.sidebar-header {
    margin-bottom: 20px;
}
/* Sidebar menu */
.sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin-bottom: 10px;
}

.sidebar-menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s ease;
}
.sidebar-menu li.active a {
    background-color: #fff;
    color: #6D7EAA;
}

.sidebar-menu li a:hover {
    background-color: #8799C0;
}